<!--

This file is part of the vscode-powertools distribution.
Copyright (c) e.GO Digital GmbH, Aachen, Germany (https://www.e-go-digital.com/)

vscode-powertools is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation, version 3.

vscode-powertools is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

-->


<div class="container">
    <h1 id="ego-store-name"></h1>

    <div class="row">
        <div class="col col-12" id="ego-app-list">
            
        </div>
    </div>
</div>

<div class="modal fade" id="ego-app-details-modal" tabindex="-1" role="dialog" aria-labelledby="ego-app-details-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white text-bold">
          <h5 class="modal-title" id="ego-app-details-modal-label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body"></div>
      </div>
    </div>
</div>

<div class="modal fade" id="ego-uninstall-app-modal" tabindex="-1" role="dialog" aria-labelledby="ego-uninstall-app-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white text-bold">
          <h5 class="modal-title" id="ego-uninstall-app-modal-label">Uninstall app?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body"></div>

        <div class="modal-footer">
            <a class="btn btn-secondary btn-sm ego-no-btn" data-dismiss="modal">No</a>
            <a class="btn btn-danger btn-sm ego-yes-btn">YES!</a>
        </div>
      </div>
    </div>
</div>
