
<!-- content -->
<div class="container-fluid" id="ego-content-container">
    <div class="row">
        <div class="col col-12">
            <table class="ego-content">
                <tbody>
                    <tr>
                        <td class="ego-left">
                            <!-- Sidebar -->
                            <div class="sidebar-fixed position-fixed">
                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-">
                                        <i class="fa fa-history mr-3"></i>Change Log
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Apps')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Apps">
                                        <i class="fa fa-book mr-3"></i>Apps
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Buttons')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Buttons">
                                        <i class="fa fa-book mr-3"></i>Buttons
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Commands')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Commands">
                                        <i class="fa fa-book mr-3"></i>Commands
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Events')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Events">
                                        <i class="fa fa-book mr-3"></i>Events
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Jobs')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Jobs">
                                        <i class="fa fa-book mr-3"></i>Jobs
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Scripts')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Scripts">
                                        <i class="fa fa-book mr-3"></i>Scripts
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a href="#" onclick="ego_select_area('Values')" class="list-group-item list-group-item-action waves-effect ego-item ego-item-Values">
                                        <i class="fa fa-book mr-3"></i>Values
                                    </a>
                                </div>
                            </div>
                            <!-- Sidebar -->
                        </td>
        
                        <td class="ego-right">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- content -->
