
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div id="ego-http-response">
                <pre>
                    <code class="http"><%= http_response %></code>
                </pre>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-6">
            <a class="btn btn-block btn-lg btn-primary" id="ego-save-content-btn">Save Content</a>
        </div>

        <div class="col col-6">
            <a class="btn btn-block btn-lg btn-secondary" id="ego-save-request-btn">Save Request</a>
        </div>
    </div>
</div>
