<div class="container-fluid">
    <div class="alert alert-danger" role="alert" style="display: none;" id="ego-error"></div>

    <div class="card text-white bg-dark" id="ego-script-console">
        <div class="card-header">
            <span class="align-middle">
                Script console
            </span>

            <a class="btn btn-sm btn-warning float-right text-dark" id="ego-clear-console-btn">
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </a>
        </div>
        <div class="card-body"></div>

        <div class="card-footer">
            <a class="btn btn-sm btn-light float-left" id="ego-run-script-btn"></a>
        </div>
    </div>
</div>